.text {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.app {
  overflow-x: hidden;
}

.instructions {
  margin-bottom: 1rem;
}

@font-face {
  font-family: "SweetHipster";
  src: local('SweetHipster'), url(./fonts/SweetHipster.ttf) format('truetype');
}

@font-face {
  font-family: "BlantickScript";
  src: local('BlantickScript'), url(./fonts/BlantickScript.ttf) format('truetype');
}

@font-face {
  font-family: "Forefarmers";
  src: local('Forefarmers'), url(./fonts/Forefarmers.ttf) format('truetype');
}

@font-face {
  font-family: "GrestalScript";
  src: local('GrestalScript'), url(./fonts/GrestalScript.ttf) format('truetype');
}

@font-face {
  font-family: "HelloHoney";
  src: local('HelloHoney'), url(./fonts/HelloHoney.otf) format('opentype');
}

@font-face {
  font-family: "KaileyLatief";
  src: local('KaileyLatief'), url(./fonts/KaileyLatief.ttf) format('truetype');
}

@font-face {
  font-family: "Lifestyle";
  src: local('Lifestyle'), url(./fonts/Lifestyle.ttf) format('truetype');
}

@font-face {
  font-family: "OctoberTwilight";
  src: local('OctoberTwilight'), url(./fonts/OctoberTwilight.otf) format('opentype');
}

@font-face {
  font-family: "Sunflowers";
  src: local('Sunflowers'), url(./fonts/Sunflowers.ttf) format('truetype');
}
